/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
 body{
    font-family: 'Open Sans', sans-serif;
 }

 .clearfix::after{
    content: "";
    display: table;
    clear: both;
 }

 a{
     text-decoration: none;
 }

 .container-big{
     width: 80%;
     margin: auto;
     /* background-color: burlywood; */
 }
 /* buttons */
 .bottone-header{
    background-color:#0061ff;
    padding: 3px 5px;
    vertical-align: middle;
 }

 

/* Typo */
.header-menu a{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.bottone-header a {
    color: white;
    font-size: 15px;

}
 /* header */

 header{
    position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
 }

 .header-right, .header-left{
     float: left;
     width: 50%;
     padding: 30px 20px 10px;
     height: 60px;
 }  

 .header-left img{
     vertical-align: middle;
     margin-right: 15px;
 }

 .header-left,.header-right {
     background-color:white;
 }

 .header-right{
     text-align: right;
 }

 /* nav */
 .header-menu.right,
 .header-menu.left, 
 .header-menu ul li,
 .header-menu a,
 .bottone-header{
    display: inline-block;
}
 
.header-menu li{
    margin: 0 30px;
}

 /* Allineamento di due nav */
.header-menu.left, .header-menu.right{
    vertical-align: middle;
    /* border: 1px solid black; */
}
/* Main */
main{
    margin-top: 90px;
}

.section-big{
    width: 100%;
}

.section-big.azzurro{
    background-color: #b4d0e7;
    height: 740px;
}
.container-big{
    width: 1250px;
    margin: auto;
}
.container-big h1{
    font-size: 60px;
    padding-top: 50px;
}