/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
 body{
    font-family: 'Open Sans', sans-serif;
 }

 .clearfix::after{
    content: "";
    display: table;
    clear: both;
 }

 a{
     text-decoration: none;
 }

 .container-big{
     width: 80%;
     margin: auto;
     /* background-color: burlywood; */
 }
 /* buttons */
 .bottone-header{
    background-color:#0061ff;
    padding: 3px 5px;
    vertical-align: middle;
 }

 .bottone-big{
     background-color: #0061ff;
     display: inline-block;
     padding: 7px 20px;
 }
 

/* Typo */
.header-menu a{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.bottone-header a {
    color: white;
    font-size: 15px;
}

.bottone-big a{
    color: white;
    font-weight: bold;
    font-size: 17px;
}
 /* header */

 header{
    position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
 }

 .header-right, .header-left{
     float: left;
     width: 50%;
     padding: 20px 20px 30px 20px;
     height: 60px;
     background-color: white;
 }  

 .header-left img{
     vertical-align: middle;
     margin-right: 15px;
 }


 .header-right{
     text-align: right;
 }

 /* nav */
 .header-menu.right,
 .header-menu.left, 
 .header-menu ul li,
 .header-menu a,
 .bottone-header{
    display: inline-block;
}
 
.header-menu li{
    margin: 0 30px;
}

 /* Allineamento di due nav */
.header-menu.left, .header-menu.right{
    vertical-align: middle;
    /* border: 1px solid black; */
}
/* Main */
main{
    margin-top: 60px;
}

.section-big{
    width: 100%;
}

.section-big.azzurro{
    background-color: #b4d0e7;
    height: 740px;
}
.container-big{
    width: 1250px;
    margin: auto;
}
.container-big h1{
    font-size: 80px;
    padding-top: 50px;
}

/* Sezione-1 hero */
.section-big.azzurro .colonne{
    margin-top: 30px;
}
.col-sezione-1-left, .col-sezione-1-right{
    float: left;
    /* background-color: yellow;
    border: 1px solid black; */
}

.col-sezione-1-left{
    width: 30%;
}

.col-sezione-1-right{
    width: 70%;
}

.col-sezione-1-left p{
margin-bottom: 20px;
font-weight: 600;
}

.col-sezione-1-left p:last-child{
  font-size: 15px;
  margin-top: 10px;
}

.col-sezione-1-right img{
    width: 100%;
}