/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
 body{
    font-family: 'Open Sans', sans-serif;
 }

 .clearfix::after{
    content: "";
    display: table;
    clear: both;
 }

 .btn{
     background-color: cyan;
     padding: 10px;
 }

 /* header */

 .header-right, .header-left{
     float: left;
     height: 70px;
     width: 50%;
 }  

 .header-left{
     background-color: chartreuse;
 }

 .header-right{
     background-color: crimson;
 }

 /* nav */
 .header-menu.right, .header-menu.left, 
 .header-button {
    display: inline-block;
 }
 .header-menu ul li, .header-menu a{
    display:inline-block;
 }